<%= form_with(model: qualification_level) do |form| %>
  <% if qualification_level.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(qualification_level.errors.count, "error") %> prohibited this qualification_level from being saved:</h2>

      <ul>
        <% qualification_level.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :level, style: "display: block" %>
    <%= form.text_field :level %>
  </div>

  <div>
    <%= form.label :candidate_id, style: "display: block" %>
    <%= form.text_field :candidate_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
