<p style="color: green"><%= notice %></p>

<h1>Qualification levels</h1>

<p>On average, our politicians are more well qualified relative to the population they represent.</p>

<div>
  <h2>General Population by Qualification Level</h2>
  <%= pie_chart @genpop_qualification_levels %>
</div>
<div>
  <h2>ALP by Qualification Level</h2>
  <%= pie_chart @alp_qualification_levels %>
</div>
<div>
  <h2>Liberals by Qualification Level</h2>
  <%= pie_chart @lib_qualification_levels %>
</div>
<div>
  <h2>Nationals by Qualification Level</h2>
  <%= pie_chart @nat_qualification_levels %>
</div>


  <div id="qualification-level-candidates">
    <table id="qualification-level-candidate-table" class="table table-striped">
      <thead>
        <tr>
          <th>Candidate</th>
          <th>Party</th>
          <th>Qualification Level</th>
        </tr>
      </thead>
      <% @candidates.each do |candidate| %>
        <tr>
          <td><%= safe_link_to(candidate) %></td>
          <td><%= safe_link_to(candidate.party) %></td>
          <td><%= safe_link_to(candidate.qualification_level) %></td>
        </tr>
      <% end %>
    </table>
  </div>


<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>

<script>
$(document).ready(function() {
    $('#qualification-level-candidate-table').DataTable({
      paging: false,
      searching: false
    });
} );
</script>


