<p style="color: green"><%= notice %></p>

<div class="container search-container">
  <div id="search">
    <%= render :partial => 'home/search_form' %>
    <p>Search for any Candidate, Electorate, Party, Prior Career, Education, Union or Faction </p>
  </div>
</div>

<h1>Qualification levels</h1>



<div class="flex-container row">
  <div class="col">
    <div id="legend">
      <h2>Legend</h2>
        <div class="legend red float-start float-lg-none">Postgraduate</div>

        <div class="legend blue float-start float-lg-none">Bachelor Degree</div>
        <div class="legend green float-start float-lg-none">Diploma</div>
        <div class="legend brown float-start float-lg-none">Up to Year 12 or Equiv</div>
    </div>
  </div>
  <div class="col">
    <div id="chart">
      <h2>General Population</h2>
      <%= pie_chart(
        @qualification_level_data.genpop.count,
        colors: @qualification_level_data.genpop.colors,
        legend: false
      ) %>
    </div>
  </div>
  <div class="col">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim earum beatae distinctio officiis saepe soluta, vero ut repellendus animi molestiae nam porro quae corrupti maiores aliquid illum? Voluptate, molestias dolor?
  </div>
</div>


<div class="flex-container row">
  <div class="alp col">
    <h2>ALP MPs</h2>
      <%= pie_chart(
        @qualification_level_data.alp.count,
        colors: @qualification_level_data.alp.colors,
        legend: false
      ) %>
  </div>
  <div class="coalition col">
    <h2>Coalition MPs</h2>
      <%= pie_chart(
        @qualification_level_data.coalition.count,
        colors: @qualification_level_data.coalition.colors,
        legend: false
      ) %>
  </div>
</div>


<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>

<script>
$(document).ready(function() {
    $('#qualification-level-candidate-table').DataTable({
      paging: false,
      searching: false
    });
} );
</script>


