<div id="<%= dom_id electorate %>">
  <h1>Candidates for <%= electorate.name.capitalize %></h1>
  <div id="candidates">
    <table id="electorate-candidate-table" class="table table-striped">
      <thead>
        <tr>
          <th>Candidate</th>
          <th>Party</th>
        </tr>
      </thead>
      <% electorate.candidates.each do |candidate| %>
        <tr>
          <td><%= safe_link_to(candidate) %></td>
          <td><%= safe_link_to(candidate.party) %></td>
        </tr>
      <% end %>
    </table>
  </div>

  <h3>grouped by Religion</h3>
  <%= pie_chart electorate.candidates.joins(:religion).group(:religion).count.map{ |k, v| [k.name, v] }.to_h %>

  <h3>grouped by Gender</h3>
  <%= pie_chart electorate.candidates.group(:gender).count %>


  <h3>grouped by Profession</h3>
  <%= pie_chart electorate.candidates.joins(:profession).group(:profession).count.map{ |k, v| [k.name, v] }.to_h %>





  <p>
    <%= link_to "AEC information for #{electorate.name}", electorate.link %>
  </p>



</div>

<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>

<script>
$(document).ready(function() {
    $('#electorate-candidate-table').DataTable({
      paging: false,
      searching: false
    });
} );
</script>