<p style="color: green"><%= notice %></p>

<%= render @electorate %>

<div>
  <%= link_to "Edit this electorate", edit_electorate_path(@electorate) %> |
  <%= link_to "Back to electorates", electorates_path %>

  <%= button_to "Destroy this electorate", @electorate, method: :delete %>
</div>
