<h3>An Insight into who the candidates are for Australia's major political parties at the upcoming election</h3>

<div id="search">
  <%= render "search_form" %>
  <p>search for any candidate, party, faction etc (coming soon)</p>
</div>

<ul>View data by...
  <li><%= link_to "Candidates", "/candidates" %></li>
  <li><%= link_to "Electorates", "/electorates" %></li>
  <li><%= link_to "Parties", "/parties" %></li>
  <li><%= link_to "Professions (primary career pre-politics)", "/professions" %></li>
  <li><%= link_to "Religion", "/religions" %></li>
  <li><%= link_to "Qualification", "/qualification_levels" %></li>
  <li><%= link_to "Union Affiliation", "/unions" %></li>
  <li><%= link_to "Factional Affiliation", "/factions" %></li>
  <li><%= link_to "Field Of Study", "/field_of_studies" %></li>

</ul>