<h3>An Insight into who the candidates are for Australia's major political parties at the upcoming election</h3>

<div id="search">
  <%= render "search_form" %>
  <p>search for any candidate, party, faction etc (coming soon)</p>
</div>

<div class="container">
  <div class="row">
    <div class="col-md">
      <h2>Some header</h2>
      <p>arcu. Cras fringilla hendrerit mattis. Quisque nec turpis at felis cursus blandit vitae sed magna. Duis tincidunt condimentum diam id consectetur. Phasellus facilisis odio quam, vitae porta nisl interdum non. Mauris quis mollis ex. Etiam euismod scelerisque justo, vitae sollicitu</p>
    </div>
    <div class="col-md">
      <h2>Some header 2</h2>
      <p>arcu. Cras fringilla hendrerit mattis. Quisque nec turpis at felis cursus blandit vitae sed magna. Duis tincidunt condimentum diam id consectetur. Phasellus facilisis odio quam, vitae porta nisl interdum non. Mauris quis mollis ex. Etiam euismod scelerisque justo, vitae sollicitu</p>
    </div>
    <div class="col-md">
      <h2>Some header 3</h2>
      <p>arcu. Cras fringilla hendrerit mattis. Quisque nec turpis at felis cursus blandit vitae sed magna. Duis tincidunt condimentum diam id consectetur. Phasellus facilisis odio quam, vitae porta nisl interdum non. Mauris quis mollis ex. Etiam euismod scelerisque justo, vitae sollicitu</p>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md">
      <%= link_to "Button Primary", "/candidates", class: "btn btn-primary" %>
    </div>
    <div class="col-md">
      <%= link_to "Button Secondary", "/candidates", class: "btn btn-secondary" %>
    </div>
    <div class="col-md">
      <%= link_to "Button Outline", "/candidates", class: "btn btn-outline-primary" %>
    </div>
  </div>
</div>

<ul>View data by...
  <li><%= link_to "Candidates", "/candidates %></li>
  <li><%= link_to "Electorates", "/electorates" %></li>
  <li><%= link_to "Parties", "/parties" %></li>
  <li><%= link_to "Professions (primary career pre-politics)", "/professions" %></li>
  <li><%= link_to "Religion", "/religions" %></li>
  <li><%= link_to "Qualification", "/qualification_levels" %></li>
  <li><%= link_to "Union Affiliation", "/unions" %></li>
  <li><%= link_to "Factional Affiliation", "/factions" %></li>
  <li><%= link_to "Field Of Study", "/field_of_studies" %></li>

</ul>