<p style="color: green"><%= notice %></p>

<%= render @faction %>

<div>
  <%= link_to "Edit this faction", edit_faction_path(@faction) %> |
  <%= link_to "Back to factions", factions_path %>

  <%= button_to "Destroy this faction", @faction, method: :delete %>
</div>
