<div id="<%= dom_id religion %>">
  <h2><%= religion.name %></h2>

  <div id="religion-candidates">
    <table id="candidate-religion-table" class="table table-striped">
      <thead>
        <tr>
          <th>Candidate</th>
          <th>Electorate</th>
          <th>Party</th>
        </tr>
      </thead>
      <% religion.candidates.each do |candidate| %>
        <tr>
          <td><%= safe_link_to(candidate) %></td>
          <td><%= safe_link_to(candidate.electorate) %></td>
          <td><%= safe_link_to(candidate.party) %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>

