<p style="color: green"><%= notice %></p>

<h1>Religions</h1>

  <div>
    <h3>General Population</h3>
    <%= pie_chart(
      @genpop_religions,
      colors: @religion_colors_for_genpop,
      legend: false
    ) %>
  </div>
  <div>
    <h3>All Candidates</h3>
    <%= pie_chart(
      @all_candidates_by_religion_data,
      colors: @religion_colors_for_all_candidates,
      legend: false
    ) %>
  </div>
  <div>
    <h3>ALP Candidates</h3>
    <%= pie_chart(
      @alp_candidates_by_religion_data,
      colors: @religion_colors_for_alp_candidates,
      legend: false
    ) %>
  </div>
  <div>
    <h3>Coalition Candidates</h3>
    <%= pie_chart(
      @coalition_candidates_by_religion_data,
      colors: @religion_colors_for_coalition_candidates,
      legend: false
    ) %>
  </div>


  <div id="religion-candidates">
    <table id="religion-candidate-table" class="table table-striped">
      <thead>
        <tr>
          <th>Candidate</th>
          <th>Party</th>
          <th>Religion</th>
        </tr>
      </thead>
      <% @candidates.each do |candidate| %>
        <tr>
          <td><%= safe_link_to(candidate) %></td>
          <td><%= safe_link_to(candidate.party) %></td>
          <td><%= safe_link_to(candidate.religion) %></td>
        </tr>
      <% end %>
    </table>
  </div>


<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>

<script>
$(document).ready(function() {
    $('#religion-candidate-table').DataTable({
      paging: false,
      searching: false
    });
} );
</script>