<div id="<%= dom_id candidate %>">
  <p>
    <strong>Party:</strong>
    <%= candidate.party_id %>
  </p>

  <p>
    <strong>Religion:</strong>
    <%= candidate.religion_id %>
  </p>

  <p>
    <strong>Qualification:</strong>
    <%= candidate.qualification_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= candidate.name %>
  </p>

  <p>
    <strong>Dob:</strong>
    <%= candidate.dob %>
  </p>

  <p>
    <strong>First elected:</strong>
    <%= candidate.first_elected %>
  </p>

  <p>
    <strong>Gender:</strong>
    <%= candidate.gender %>
  </p>

</div>
