<div id="<%= dom_id candidate %>">
  <p>
    <strong>Name:</strong>
    <%= candidate.name %>
  </p>

  <p>
    <strong>Party:</strong>
    <%= candidate.party.name %>
  </p>

  <p>
    <strong>Electorate:</strong>
    <%= link_to( candidate.electorate.name, candidate.electorate.link) %>
  </p>

  <p>
    <strong>Religion (made up):</strong>
    <%= candidate.religion.name %>
  </p>

  <p>
    <strong>Qualification (made up):</strong>
    <%= candidate.qualification.level %>
  </p>

  <p>
    <strong>Gender (made up):</strong>
    <%= candidate.gender %>
  </p>

</div>
