<h2><%= candidate.name %></h2>
<table style="width:100%">
  <tr>
    <th>Party:</th>
    <td><%=  candidate.party.name %></td>
  </tr>
  <tr>
    <th>Electorate:</th>
    <td><%= candidate.electorate.name %></td>
  </tr>
  <tr>
    <th>First Elected:</th>
    <td><%= candidate.year_first_elected.present? ? candidate.year_first_elected : "N/A" %></td>
  </tr>
  <tr>
    <th>Margin:</th>
    <td><%= safe_margin(candidate) %></td>
  </tr>
  <tr>
    <th>Winnability:</th>
    <td><%= candidate.winnability %></td>
  </tr>

  <tr>
    <th><br></th>
    <td><br></td>
  </tr>

  <tr>
    <th>Gender:</th>
    <td><%=  candidate.gender %></td>
  </tr>
  <tr>
    <th>Age:</th>
    <td><%=  candidate.age %></td>
  </tr>
  <tr>
    <th>Prior Career:</th>
    <td><%= candidate.profession.name %></td>
  </tr>
  <tr>
    <th>Education Level:</th>
    <td><%= candidate.qualification_level.name %></td>
  </tr>
  <tr>
    <th>Field of Study:</th>
    <td><%= candidate.field_of_study.name %></td>
  </tr>

  <tr>
    <th>Faction:</th>
    <td><%= candidate.faction.name %></td>
  </tr>
<tr>
    <th>Union:</th>
    <td><%= candidate.union.name %></td>
  </tr>
</table>