<div id="<%= dom_id candidate %>">
  <table>
      <tr>
        <li><%= link_to candidate.name, candidate %></li>
        <li><%= candidate.party.name %></li>
        <li><%= candidate.religion.name if candidate.religion.present? %></li>
        <li><%= candidate.gender %></li>
        <li><%= link_to candidate.name, candidate %></li>
      </tr>
  </table>

</div>
