<p style="color: green"><%= notice %></p>

<h1>All Candidates by party</h1>
<p>Not sure if this is useful, but it does show macro size of the data we have.</p>
<%= pie_chart @candidates.group(:party).count.map{ |k, v| [k.name, v] }.to_h, colors: ['red', 'blue', 'green', 'brown', 'orange', 'yellow', 'teal'] %>

https://github.com/ankane/chartkick/issues/220
<div class="flex">
  <div>
    <h1>All Candidates by Religion</h1>
    <%= pie_chart @candidates.joins(:religion).group(:religion).count.map{ |k, v| [k.name, v] }.to_h %>
  </div>
  <div>
    <h1>General Population by Religion</h1>
    <%= pie_chart @genpop_religion %>
  </div>
  <div>
  <p>why are they so religious?</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est maiores explicabo voluptatibus deleniti unde non pariatur quod fugit numquam atque dignissimos culpa sapiente saepe necessitatibus repudiandae id architecto, tempore sunt.</p></div>
</div>



<div class="dave">
  <p>
    JC: Dave, I leave all placement to you.
  </p>
</div>

<h1>All Candidates by Gender</h1>
<%= pie_chart @candidates.group(:gender).count %>

<h1>General Population by Gender</h1>
<%= pie_chart @genpop_gender %>

<p>why are they so male?</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est maiores explicabo voluptatibus deleniti unde non pariatur quod fugit numquam atque dignissimos culpa sapiente saepe necessitatibus repudiandae id architecto, tempore sunt.</p>



==============
<h1>Candidates</h1>


<div id="candidates">
  <table id="candidate-candidate-table" class="table table-striped responsive-table">
    <thead>
      <tr>
        <th>Candidate</th>
        <th>Electorate</th>
        <th>Party</th>
        <th class="d-none d-lg-table-cell">Religion</th>
        <th class="d-none d-lg-table-cell">Profession</th>
      </tr>
    </thead>
    <% @candidates.each do |candidate| %>
      <tr>
        <td><%= link_to candidate.name, candidate %></td>
        <td><%= link_to candidate.electorate.name, candidate.electorate %></td>
        <td><%= link_to candidate.party.name, candidate.party %></td>
        <td class="d-none d-lg-table-cell"><%= link_to candidate.religion.name, candidate.religion %></td>
        <td class="d-none d-lg-table-cell"><%= link_to candidate.profession.name, candidate.profession %></td>
      </tr>
    <% end %>
  </table>
</div>






https://chartkick.com/

<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>

<script>
$(document).ready(function() {
    $('#candidate-candidate-table').DataTable({
      paging: false,
      searching: false
    });
} );
</script>