<div class="alert alert-warning alert-dismissible fade show">
  Skip to the <a href="#data">data</a>
</div>

<h1>Candidates</h1>



<div class="flex-container gender row">
  <h2 class="col-lg-12">Gender</h2>
  <div class="col-lg-2">
    <h3>Legend</h3>
      <div class="legend blue float-start float-lg-none">Male</div>
      <div class="legend pink float-start float-lg-none">Female</div>
  </div>
  <div class="col-lg-3">
    <h3>All Candidates</h3>
    <%= pie_chart(
      @gender_data.all_candidates.all_seats.count,
      colors: @gender_data.all_candidates.all_seats.colors,
      legend: false
    ) %>
  </div>
  <div class="col-lg-3">
    <h3>General Population</h3>
    <%= pie_chart(
      @gender_data.genpop.count,
      colors: @gender_data.genpop.colors,
      legend: false
    ) %>
  </div>
  <div class="col-lg-4">
    <h3>why are they so male?</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est maiores explicabo voluptatibus deleniti unde non
      pariatur quod fugit numquam atque dignissimos culpa sapiente saepe necessitatibus repudiandae id architecto,
      tempore sunt.</p>
  </div>
</div>

<div class="flex-container gender row">
  <div class="col-lg-3">
    <h3>Labor Candidates</h3>
    <%= pie_chart(
      @gender_data.alp.all_seats.count,
      colors: @gender_data.alp.all_seats.colors,
      legend: false
    ) %>
  </div>
  <div class="col-lg-3">
    <h3>Coalition Candidates</h3>
    <%= pie_chart(
      @gender_data.coalition.all_seats.count,
      colors: @gender_data.coalition.all_seats.colors,
      legend: false
    ) %>
  </div>
</div>

<div class="flex-container gender row">
  <div class="col-lg-3">
    <h3>Labor Candidates in winnable seats</h3>
    <%= pie_chart(
      @gender_data.alp.winnable.count,
      colors: @gender_data.alp.winnable.colors,
      legend: false
    ) %>
  </div>
  <div class="col-lg-3">
    <h3>Coalition Candidates in winnable seats</h3>
    <%= pie_chart(
      @gender_data.coalition.winnable.count,
      colors: @gender_data.coalition.winnable.colors,
      legend: false
    ) %>
  </div>
</div>

<a id='data'></a>
<div id="candidates" class="data-block">
  <h2 class="data-heading">Candidates</h2>
  <table id="candidate-candidate-table" class="table table-striped responsive-table">
    <thead>
    <tr>
      <th>Candidate</th>
      <th>Electorate</th>
      <th>Party</th>
      <th class="d-none d-lg-table-cell">Profession</th>
    </tr>
    </thead>
    <% @candidates.each do |candidate| %>
      <tr>
        <td><%= safe_link_to(candidate) %></td>
        <td><%= safe_link_to(candidate.electorate) %></td>
        <td><%= safe_link_to(candidate.party) %></td>
        <td class="d-none d-lg-table-cell"><%= safe_link_to(candidate.profession) %></td>
      </tr>
    <% end %>
  </table>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>

<script>
    $(document).ready(function () {
        $('#candidate-candidate-table').DataTable({
            paging: false,
            searching: false
        });
    });
</script>