<div id="<%= dom_id profession %>">


  <h2><%= profession.name %></h2>

  <div id="profession-candidates">
    <table id="profession-candidate-table" class="table table-striped">
      <thead>
        <tr>
          <th>Candidate</th>
          <th>Electorate</th>
          <th>Party</th>
        </tr>
      </thead>
      <% profession.candidates.each do |candidate| %>
        <tr>
          <td><%= safe_link_to(candidate) %></td>
          <td><%= safe_link_to(candidate.electorate) %></td>
          <td><%= safe_link_to(candidate.party) %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>

<script>
$(document).ready(function() {
    $('#profession-candidate-table').DataTable({
      paging: false,
      searching: false
    });
} );
</script>