<p style="color: green"><%= notice %></p>

<h1>Professions</h1>

<p>We have reliable data for the incumbent MPs, and have limited our data set here to those candidates. Data is from Australian Parliament House website</p>

  <div>
    <h2>Legend</h2>
      <div class="legend blue float-start float-lg-none">Male</div>
      <div class="legend pink float-start float-lg-none">Female</div>
      <div class="legend pink float-start float-lg-none">Female</div>
      <div class="legend pink float-start float-lg-none">Female</div>
      <div class="legend pink float-start float-lg-none">Female</div>
  </div>
  <div>
    <h2>General Population</h2>
      <%= pie_chart(
        @profession_data.genpop.count,
        colors: @profession_data.genpop.colors,
        # legend: false
      ) %>
  </div>
  <div>
    <h2>ALP MPs</h2>
      <%= pie_chart(
        @profession_data.alp.count,
        colors: @profession_data.alp.colors,
        # legend: false
      ) %>
  </div>
  <div>
    <h2>Liberal MPs</h2>
      <%= pie_chart(
        @profession_data.liberal.count,
        colors: @profession_data.liberal.colors,
        # legend: false
      ) %>
  </div>
  <div>
    <h2>National MPs</h2>
      <%= pie_chart(
        @profession_data.national.count,
        colors: @profession_data.national.colors,
        # legend: false
      ) %>
  </div>


