<p style="color: green"><%= notice %></p>

<div class="container search-container">
  <div id="search">
    <%= render :partial => 'home/search_form' %>
    <p>Search for any Candidate, Electorate, Party, Career, Religion, Education, Union or Faction </p>
  </div>
</div>

<h1>Prior Career</h1>

<p>We have reliable data for the incumbent MPs, and have limited our data set here to those candidates. Data is from Australian Parliament House website</p>
<p>for the "Other category below, we have combined the following professions; "Managers", "Professionals", "Machinery operators and drivers", "Clerical and administrative workers", "Labourers"</p>
<p>These categories represent 59% of the Australian Workforce, but less than 2% of the pool of candidates</p>




<div class="flex-container row">
  <div class="col">
    <div id="legend">
      <h2>Legend</h2>
        <div class="legend red float-start float-lg-none">Other</div>

        <div class="legend blue float-start float-lg-none">Military</div>
        <div class="legend green float-start float-lg-none">Doctors</div>
        <div class="legend yellow float-start float-lg-none">Teachers</div>
        <div class="legend indigo float-start float-lg-none">Journalists</div>



        <div class="legend pink float-start float-lg-none">Union Officials</div>
        <div class="legend purple float-start float-lg-none">Political Staffers</div>
        <div class="legend teal float-start float-lg-none">Community and personal service workers</div>
        <div class="legend orange float-start float-lg-none">Lawyers</div>
        <div class="legend maroon float-start float-lg-none">Sales workers</div>

        <div class="legend lime float-start float-lg-none">Farmer</div>
        <div class="legend gray float-start float-lg-none">Unknown</div>

    </div>
  </div>
  <div class="col">
    <div id="chart">
      <h2>General Population</h2>
      <%= pie_chart(
        @profession_data.genpop.count,
        colors: @profession_data.genpop.colors,
        legend: false
      ) %>
    </div>
  </div>
  <div class="col">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim earum beatae distinctio officiis saepe soluta, vero ut repellendus animi molestiae nam porro quae corrupti maiores aliquid illum? Voluptate, molestias dolor?
  </div>
</div>


<div class="flex-container row">
  <div class="alp col">
    <h2>ALP MPs</h2>
      <%= pie_chart(
        @profession_data.alp.count,
        colors: @profession_data.alp.colors,
        legend: false
      ) %>
  </div>
  <div class="coalition col">
    <h2>Coalition MPs</h2>
      <%= pie_chart(
        @profession_data.coalition.count,
        colors: @profession_data.coalition.colors,
        legend: false
      ) %>
  </div>
</div>






