<p style="color: green"><%= notice %></p>

<h1>Professions</h1>

<p>We found that the politicians have a very limited scope of profssional experience relative to the generql population they claim to represent. Weird!</p>

  <div>
    <h2>General Population by Profession</h2>
    <%= pie_chart @genpop_professions %>
  </div>
  <div>
    <h2>ALP by Profession</h2>
    <%= pie_chart @alp_professions %>
  </div>
  <div>
    <h2>Liberals by Profession</h2>
    <%= pie_chart @lib_professions %>
  </div>
  <div>
    <h2>Nationals by Profession</h2>
    <%= pie_chart @nat_professions %>
  </div>



<h1>Candidates</h1>


<div id="candidates">
  <table id="profession-candidate-table" class="table table-striped">
    <thead>
      <tr>
        <th>Candidate</th>
        <th>Party</th>
        <th>Profession</th>
      </tr>
    </thead>
    <% @candidates.each do |candidate| %>
      <tr>
        <td><%= safe_link_to(candidate) %></td>
        <td><%= safe_link_to(candidate.party) %></td>
        <td><%= safe_link_to(candidate.profession) %></td>
      </tr>
    <% end %>
  </table>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>

<script>
$(document).ready(function() {
    $('#profession-candidate-table').DataTable({
      paging: false,
      searching: false
    });
} );
</script>