<p style="color: green"><%= notice %></p>

<%= render @profession %>

<div>
  <%= link_to "Edit this profession", edit_profession_path(@profession) %> |
  <%= link_to "Back to professions", professions_path %>

  <%= button_to "Destroy this profession", @profession, method: :delete %>
</div>
