<h1>Gender</h1>
<div class="row expandable" id="mainText">
  <%= render "text" %>
</div>
<a class="btn btn-primary read-more"  href="#mainText" role="button" aria-expanded="false" aria-controls="mainText">Read More</a>
<a class="btn btn-primary"  href="#data" role="button">See the data</a>

<div class="flex-container gender row">
  <div class="col-md">
    <h3>All Candidates</h3>
    <%= pie_chart(
      @gender_data.all_candidates.all_seats.count,
      colors: @gender_data.all_candidates.all_seats.colors,
      legend: false
    ) %>
  </div>
  <div class="col-md">
    <h3>General Population</h3>
    <%= pie_chart(
      @gender_data.genpop.count,
      colors: @gender_data.genpop.colors,
      legend: false
    ) %>
  </div>
</div>

<div class="flex-container gender row">
  <div class="col-md">
    <h3>Labor Candidates</h3>
    <%= pie_chart(
      @gender_data.alp.all_seats.count,
      colors: @gender_data.alp.all_seats.colors,
      legend: false
    ) %>
  </div>
  <div class="col-md">
    <h3>Coalition Candidates</h3>
    <%= pie_chart(
      @gender_data.coalition.all_seats.count,
      colors: @gender_data.coalition.all_seats.colors,
      legend: false
    ) %>
  </div>
</div>

<div class="flex-container gender row">
  <h2>House of Reps</h2>
</div>
<div class="flex-container gender row">
  <h3>All Candidates</h3>
  <div class="col-md">
    <h4>Labor</h4>
    <%= pie_chart(
      @gender_data.alp.mps.all.count,
      colors: @gender_data.alp.mps.all.colors,
      legend: false
    ) %>
  </div>
  <div class="col-md">
    <h4>Coalition</h4>
    <%= pie_chart(
      @gender_data.coalition.mps.all.count,
      colors: @gender_data.coalition.mps.all.colors,
      legend: false
    ) %>
  </div>
</div>

<div class="flex-container gender row">
  <h3>Candidates for Safe Seats</h3>
  <div class="col-md">
    <h4>Labor</h4>
    <%= pie_chart(
      @gender_data.alp.mps.safe.count,
      colors: @gender_data.alp.mps.safe.colors,
      legend: false
    ) %>
  </div>
  <div class="col-md">
    <h4>Coalition</h4>
    <%= pie_chart(
      @gender_data.coalition.mps.safe.count,
      colors: @gender_data.coalition.mps.safe.colors,
      legend: false
    ) %>
  </div>
</div>

<div class="flex-container gender row">
  <h3>Candidates for Swing Seats</h3>
  <div class="col-md">
    <h4>Labor</h4>
    <%= pie_chart(
      @gender_data.alp.mps.swing.count,
      colors: @gender_data.alp.mps.swing.colors,
      legend: false
    ) %>
  </div>
  <div class="col-md">
    <h4>Coalition</h4>
    <%= pie_chart(
      @gender_data.coalition.mps.swing.count,
      colors: @gender_data.coalition.mps.swing.colors,
      legend: false
    ) %>
  </div>
</div>

<div class="flex-container gender row">
  <h3>Candidates for Unlikely Seats</h3>
  <div class="col-md">
    <h4>Labor</h4>
    <%= pie_chart(
      @gender_data.alp.mps.unlikely.count,
      colors: @gender_data.alp.mps.unlikely.colors,
      legend: false
    ) %>
  </div>
  <div class="col-md">
    <h4>Coalition</h4>
    <%= pie_chart(
      @gender_data.coalition.mps.unlikely.count,
      colors: @gender_data.coalition.mps.unlikely.colors,
      legend: false
    ) %>
  </div>
</div>

<div class="flex-container gender row">
  <h2>Senate</h2>
</div>
<div class="flex-container gender row">
  <h3>All Candidates</h3>
  <div class="col-md">
    <h4>Labor</h4>
    <%= pie_chart(
      @gender_data.alp.senate.all.count,
      colors: @gender_data.alp.senate.all.colors,
      legend: false
    ) %>
  </div>
  <div class="col-md">
    <h4>Coalition</h4>
    <%= pie_chart(
      @gender_data.coalition.senate.all.count,
      colors: @gender_data.coalition.senate.all.colors,
      legend: false
    ) %>
  </div>
</div>

<div class="flex-container gender row">
  <h3>Candidates for Safe Senate Positions</h3>
  <div class="col-md">
    <h4>Labor</h4>
    <%= pie_chart(
      @gender_data.alp.senate.safe.count,
      colors: @gender_data.alp.senate.safe.colors,
      legend: false
    ) %>
  </div>
  <div class="col-md">
    <h4>Coalition</h4>
    <%= pie_chart(
      @gender_data.coalition.senate.safe.count,
      colors: @gender_data.coalition.senate.safe.colors,
      legend: false
    ) %>
  </div>
</div>

<div class="flex-container gender row">
  <h3>Candidates for Swing Senate Positions</h3>
  <div class="col-md">
    <h4>Labor</h4>
    <%= pie_chart(
      @gender_data.alp.senate.swing.count,
      colors: @gender_data.alp.senate.swing.colors,
      legend: false
    ) %>
  </div>
  <div class="col-md">
    <h4>Coalition</h4>
    <%= pie_chart(
      @gender_data.coalition.senate.swing.count,
      colors: @gender_data.coalition.senate.swing.colors,
      legend: false
    ) %>
  </div>
</div>

<div class="flex-container gender row">
  <h3>Candidates for Unlikely Senate Positions</h3>
  <div class="col-md">
    <h4>Labor</h4>
    <%= pie_chart(
      @gender_data.alp.senate.unlikely.count,
      colors: @gender_data.alp.senate.unlikely.colors,
      legend: false
    ) %>
  </div>
  <div class="col-md">
    <h4>Coalition</h4>
    <%= pie_chart(
      @gender_data.coalition.senate.unlikely.count,
      colors: @gender_data.coalition.senate.unlikely.colors,
      legend: false
    ) %>
  </div>
</div>

=====


<div class="row">
  <h2 id="data">Data</h2>
  <p>
    <strong>House of Representatives 2022 Federal Election</strong>
    <br />
    <%= image_tag "gender_representatives.png" %>
    <%= image_tag "gender_senate.png" %>
    <%= image_tag "gender_totals.png" %>
  </p>
</div>