<div id="<%= dom_id field_of_study %>">
  <h2><%= field_of_study.name %></h2>

  <div id="field_of_study-candidates">
    <table id="field-of-study-candidate-table" class="table table-striped">
      <thead>
        <tr>
          <th>Candidate</th>
          <th>Electorate</th>
          <th>Party</th>
        </tr>
      </thead>
      <% field_of_study.candidates.each do |candidate| %>
        <tr>
          <td><%= safe_link_to(candidate) %></td>
          <td><%= safe_link_to(candidate.electorate) %></td>
          <td><%= safe_link_to(candidate.party) %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>


<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>

<script>
$(document).ready(function() {
    $('#field-of-study-candidate-table').DataTable({
      paging: false,
      searching: false
    });
} );
</script>