<p style="color: green"><%= notice %></p>

<div class="container search-container">
  <div id="search">
    <%= render :partial => 'home/search_form' %>
  </div>
</div>


<h1>Field Of Study</h1>
<h2>Incumbent MPs and Senators who are running for re-election</h2>



<div class="flex-container row">
  <div class="col">
    <div id="legend">
      <h2>Legend</h2>
        <div class="legend red float-start float-lg-none">Postgraduate</div>
        <div class="legend blue float-start float-lg-none">Bachelor Degree</div>
        <div class="legend green float-start float-lg-none">Diploma</div>
        <div class="legend brown float-start float-lg-none">Up to Year 12 or Equiv</div>
    </div>
  </div>
  <div class="col">
    <div id="chart">
      <h2>General Population</h2>
      <%= pie_chart(
        @field_of_study_data.genpop.count,
        colors: @field_of_study_data.genpop.colors,
        legend: false,
        is3d: true
      ) %>
    </div>
  </div>
  <div class="col">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim earum beatae distinctio officiis saepe soluta, vero ut repellendus animi molestiae nam porro quae corrupti maiores aliquid illum? Voluptate, molestias dolor?
  </div>
</div>


<div class="flex-container row">
  <div class="alp col">
    <h2>ALP</h2>
      <%= pie_chart(
        @field_of_study_data.alp.count,
        colors: @field_of_study_data.alp.colors,
        legend: false
      ) %>
  </div>
  <div class="coalition col">
    <h2>Coalition</h2>
      <%= pie_chart(
        @field_of_study_data.coalition.count,
        colors: @field_of_study_data.coalition.colors,
        legend: false
      ) %>
  </div>
</div>