<p style="color: green"><%= notice %></p>

<%= render @field_of_study %>

<div>
  <%= link_to "Edit this field of study", edit_field_of_study_path(@field_of_study) %> |
  <%= link_to "Back to field of studies", field_of_studies_path %>

  <%= button_to "Destroy this field of study", @field_of_study, method: :delete %>
</div>
